
<link rel="stylesheet" type="text/css" href="../css/drumming.css">

<div id="theBigOne">
  <div>
    <span class="navLink">Drum videos</span>
  </div>

  <div class="slideshow-container">

    <div style="text-align:center" id="carouselControls">
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a><!--
   --><div id="dotHolder" style="display:inline-block">
      </div><!--dotHolder--><!---
   --><a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

    <div class="mySlides fade">
      <div class="tubeGrid">
        <div class="tubeHolder">
          <iframe src="https://player.vimeo.com/video/357911969" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div><!--tubeHolder-->
        <div class="text">
          <span><h2>Dead to Fall - Bastard Set of Dreams</h2><p>Take your schemes and your idle screams<br>To an audience who doesn't care what they mean<br>From what we built take what you need<br>To serve a bastard set of dreams<br>Sell your image and market your heart<br>Capital gain until it falls apart<br>A thousand open ears and still not a word to say</p></span>
        </div><!--text-->
      </div><!--tubeGrid-->
    </div><!--mySlides-->
  
    <div class="mySlides fade">
      <div class="tubeGrid">
        <div class="tubeHolder">
          <iframe src="https://player.vimeo.com/video/355892477" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div><!--tubeHolder-->
        <div class="text">
          <span><h2>Caption Two</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></span>
        </div><!--text-->
      </div><!--tubeGrid-->
    </div><!--mySlides-->
  
    <div class="mySlides fade">
      <div class="tubeGrid">
        <div class="tubeHolder">
          <iframe src="https://player.vimeo.com/video/348940087" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div><!--tubeHolder-->
        <div class="text">
          <span><h2>Caption Two</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></span>
        </div><!--text-->
      </div><!--tubeGrid-->
    </div><!--mySlides-->

    <div class="mySlides fade">
      <div class="tubeGrid">
        <div class="tubeHolder">
          <iframe src="https://player.vimeo.com/video/309609106" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div><!--tubeHolder-->
        <div class="text">
          <span><h2>Caption Two</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></span>
        </div><!--text-->
      </div><!--tubeGrid-->
    </div><!--mySlides-->

    <div class="mySlides fade">
      <div class="tubeGrid">
        <div class="tubeHolder">
          <iframe src="https://player.vimeo.com/video/349024289" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div><!--tubeHolder-->
        <div class="text">
          <span><h2>Caption Two</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></span>
        </div><!--text-->
      </div><!--tubeGrid-->
    </div><!--mySlides-->
    
  </div><!--slideshow-container-->
</div><!--theBigOne-->

<script src="../js/drumming.js"></script>
